body {
    font-family: Arial,Verdana,'sans serif';
    text-align: center;
    background-image: linear-gradient(to right, #000000, #2a0c12, #4c0816, #6d0012, #8c0000);
    height: 100vh;
}

#header {
    color: #FFFFFF;
    text-shadow: 4px 3px 0 #000000;
}

#content {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-top: 35px;
    background-color: white;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    resize: both;
    overflow: auto;
    min-width: 50px; /*suggest a min-width &amp; min-height*/
    min-height: 50px;
}

#footer {
    clear: both;
    background-color: #f8f8f8;
    width: 700px;
    height: 35px;
    -webkit-border-radius: 4px;
    padding: 10px;
    border-radius: 4px;
    margin: 15px auto 10px;
}
#footer .text {
    float: left;
    font-weight: bold;
    padding-left: 5px;
    padding-top: 10px;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
#footer .column {
    float: right;
    margin-left: 20px;
    padding: 3px;
}
#footer .column img {
    width: 70px;
    height: 35px;
}

/* Clear floats after image containers */
#footer::after {
    content: "";
    clear: both;
    display: table;
}
table {
    text-align: center;
    border: 1px solid #000000;
}
tr {
    border-collapse: collapse;
}
td {
    width: 150px;
    height: 150px;
    font-size: 20px;
    font-weight: bold;
}
td img {
    width: 100px;
    height: 120px;
}
.button {
    color: #fff !important;
    text-decoration: none;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
    font-weight: bold;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.button:hover {
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.container {
    height: auto;
    overflow: hidden;
}
#steps {
    text-align: center;
    background: #dedede;
    -webkit-border-radius: 4px;
    padding: 10px;
    border-radius: 4px;
    margin: 10px auto 5px;
}

#container .login {
    float: right;
    width: 50%;
    background: #fafafa;
    margin: 15px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 2px solid black;
}

#container .create {
    float: none; /* not needed, just for clarification */
    width: auto;
    overflow: hidden;
}