@(title: String)

@main(title) {
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Tic_tac_toe.svg/2000px-Tic_tac_toe.svg.png" width="150px" height="150px"/>
    <h2>@title</h2>
    <div id="container">
        <div class="login">
            <h1>Login</h1>
            <form method="post" action="@routes.HomeController.validateLogin()">
                Username: <input type="text" name="username" placeholder="username"/>
                <br/>
                Password: <input type="password" name="password" placeholder ="password"/>
                <br/>
                <input class="button" type="submit" value="Start Playing!" />
            </form>
        </div>
        <div class="create">
            <h1>Create User</h1>
            <form method="post" action="@routes.HomeController.CreateUser()">
                Username: <input type="text" name="username" placeholder="username"/>
                <br/>
                Password: <input type="password" name="password" placeholder="password"/>
                <br/>
                <button style="margin: 10px" type="submit">Submit</button>
            </form>
        </div>
    </div>
}
